<VirtualHost *:80>
	ServerName  en.wikipedia.org
	ServerAdmin webmaster@localhost

	DocumentRoot /var/www/mediawiki/core
	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>
	<Directory /var/www/mediawiki/core>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride None
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog /var/log/apache2/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog /var/log/apache2/access.log wikimedia

</VirtualHost>